@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #0c0c0d;
  --background: #eef3fc;
  --primary: #557cc3;
  --secondary: #8eafec;
  --accent: #4383f9;
}

:root[data-theme="light"] {
  --text: #0c0c0d;
  --background: #eef3fc;
  --primary: #557cc3;
  --secondary: #8eafec;
  --accent: #4383f9;
}
:root[data-theme="dark"] {
  --text: #f2f2f3;
  --background: #030811;
  --primary: #3c62aa;
  --secondary: #133471;
  --accent:#0646bc;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  @apply bg-background text-text;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}